.header-space{
    height: 80px; 
    background-color: #2CC44D; 
    box-shadow: 3px 3px 3px 3px gray; 
    display:flex; 
    justify-content: center; 
    align-items: center;
}

.header-text{
    color:white;
    margin:5px;
}